<h6>Карта сайта</h6>
    <ul>
        <li>@Html.ActionLink("Домой", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("Информация о ЧС", "List", "EmergencySituations")</li>
        <li>@Html.ActionLink("Карта", "Index", "Map")</li>
        <li>@Html.ActionLink("Статистика", "Index", "Statistic")</li>
    </ul>
