<div class="nav navbar-right">
        <a href="#" class="navbar-link">
            <span class="glyphicon glyphicon-user"></span>
            Войти
        </a>
        <a href="#" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
            Зарегистрироваться
        </a>
    </div>
